[submodule "coq-stdlib-edits"]
	path = deps/coq-stdlib-edits
	url = git@github.com:DIJamner/coq-stdlib-edits.git
[submodule "deps/pyrosome"]
	path = deps/pyrosome
	url = git@github.com:DIJamner/pyrosome.git
